In [6]:


import pandas as pd 
df = pd.read_csv("melb_data.csv")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [7]:

features = df.drop('Price', axis=1)
target = df['Price']

In [9]:
print(features.dtypes)

Suburb            object
Address           object
Rooms              int64
Type              object
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [10]:
# List of columns to convert to categorical
categorical_columns = ['Suburb', 'Type', 'Method', 'Regionname', 'Rooms',  'YearBuilt']

# Convert each column to categorical type
for col in categorical_columns:
    features[col] = features[col].astype('category')

In [12]:
features.dtypes

Suburb           category
Address            object
Rooms            category
Type             category
Method           category
SellerG            object
Date               object
Distance          float64
Postcode          float64
Bedroom2          float64
Bathroom          float64
Car               float64
Landsize          float64
BuildingArea      float64
YearBuilt        category
CouncilArea        object
Lattitude         float64
Longtitude        float64
Regionname       category
Propertycount     float64
dtype: object

In [13]:
# One-hot encode the data using pandas get_dummies
features = pd.get_dummies(features)

In [14]:
features

,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Lattitude,Longtitude,Propertycount,...,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Regionname_Eastern Metropolitan,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,-37.79960,144.99840,4019.0,...,1,0,0,0,1,0,0,0,0,0
1,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,-37.80790,144.99340,4019.0,...,1,0,0,0,1,0,0,0,0,0
2,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,-37.80930,144.99440,4019.0,...,1,0,0,0,1,0,0,0,0,0
3,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,-37.79690,144.99690,4019.0,...,1,0,0,0,1,0,0,0,0,0
4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,-37.80720,144.99410,4019.0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,-37.90562,145.16761,7392.0,...,0,0,0,0,0,0,1,0,0,0
13576,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,-37.85927,144.87904,6380.0,...,0,0,0,0,0,0,0,0,1,0
13577,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,-37.85274,144.88738,6380.0,...,0,0,0,0,0,0,0,0,1,0
13578,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,-37.85908,144.89299,6380.0,...,0,0,0,0,0,0,0,0,1,0
13579,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,-37.81188,144.88449,6543.0,...,0,0,0,0,0,0,0,0,1,0